<div class="card horizontal">
    <div class="card-stacked ">
        <div class="card-action "> 
            <nav>
                  <p class="brand-logo2">{{this.title}}</p>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="">Cancelar</a></li>
                    <li><a href="">Salvar</a></li>
                  </ul>

              </nav>
           
        </div>
        
        <div class="card-content">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input type="text" id="autocomplete-input" class="autocomplete">
                            <label for="autocomplete-input">NOME</label>  
                        </div>     
                        <div class="input-field col s12 m6">
                            <select>
                                <option value="" disabled selected></option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                              </select>
                              <label>TIPO</label> 
                        </div> 

                    </div>  
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <input type="text" id="autocomplete-input" class="autocomplete">
                            <label for="autocomplete-input">QUANTIDADE</label>  
                        </div>     

                        <div class="input-field col s12 m6">
                            <input type="text" id="autocomplete-input" class="datepicker">
                            <label for="autocomplete-input">DATA COMPRA</label>  
                        </div>    
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input type="text" id="autocomplete-input" class="autocomplete">
                            <label for="autocomplete-input">VALOR</label> 
                            </div>
                            </div>
                            

                </div>
            </div>

        </div>
    </div>
</div>
